/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.row {
    display: flex;
    margin-bottom: 16px;

    &.centered {
        justify-content: center;
        gap: 16px;
    }
}


.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}


input[type="date"],
input[type="number"] {
    width: 100%;
    max-width: 200px;
}
